@model IEnumerable<SISGUILLEN.Models.Cargo>

@{
    ViewData["Title"] = "Cargos";
}

<h1>Cargos</h1>

<p class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a asp-action="Create" class="btn btn-primary"> Agregar Cargo</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.CargoId"><i class="bi bi-pencil"></i></a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.CargoId"><i class="bi bi-trash"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
