@model SISGUILLEN.Models.Usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<div class="row align-items-center justify-content-center">
    <div class="col-md-8">
        <h1>Eliminar Usuario</h1>

        <h3>¿Estás seguro que quieres eliminar al usuario @Html.DisplayFor(model => model.Nombre)?</h3>

        <div>
            <hr />
            <div class="row">
                <div class="col-md-6">

                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Apellido)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Apellido)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Edad)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Edad)
                        </dd>
                    </dl>
                </div>

                <div class="col-md-6">
                    <!-- Columna derecha -->
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Direccion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Direccion)
                        </dd>

                        <dt class="col-sm-4">
                            F Nacimiento
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaNacimiento)
                        </dd>

                        <dt class="col-sm-4">
                            Perfil
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Perfil!.Nombre)
                        </dd>

                        <dt class="col-sm-4">
                            Cargo
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Cargo!.Nombre)
                        </dd>
                    </dl>
                </div>
            </div>

            <form asp-action="Delete">
                <input type="hidden" asp-for="UsuarioId" />
                <div class="text-center">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a class="btn btn-warning" asp-action="Index">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
